@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.purple-txt-each-section {
  color: #6F77F1 !important;
}

.navbar-brand-style {
  color: #212528;
  font-weight: 500;
  font-size: 40px;
  font-family: "Poppins";
}

.navbar-logo .navbar-brand-style {
  cursor: pointer;
}
.navbar-logo .dot-with-logo {
  cursor: pointer;
  background-color: #BC424E;
  height: 8px;
  width: 8px;
  border-radius: 50%;
}

.nav-link {
  color: #212528;
  font-weight: 400;
  font-size: 24px;
  font-family: "Poppins";
}

.let-us-talk-btn {
  border: 2px solid #212528;
  font: 500 24px "Poppins";
}

.search-btn {
  color: #212528;
  background-color: #FAD725 !important;
  font-size: 24px !important;
  font-weight: 500 !important;
  border-radius: 1px;
}

.nav-long-line {
  display: none;
  height: 2px;
  width: 60%;
  background-color: #6F77F1;
  border-radius: 3px;
  bottom: 6px;
  left: 12%;
}

.nav-short-line {
  display: none;
  height: 2px;
  width: 10%;
  background-color: #6F77F1;
  border-radius: 3px;
  bottom: 6px;
  left: 80%;
}

.nav-item {
  transition: all 0.9s ease-out;
}

@media (min-width: 768px) {
  .nav-item:hover .nav-long-line, .nav-item:hover .nav-short-line {
    display: inline-block;
  }
}

.hero-main-heading {
  color: #212528;
  font-weight: 700;
  font-size: 40px;
  font-family: "Inter";
}

.hero-text {
  color: #727272;
  font-weight: 400;
  font-size: 15px;
  font-family: "Poppins";
}

.expert-txt {
  color: #6F77F1;
  font-weight: 600;
  font-size: 40px;
  font-family: "Poppins";
}

.hero-sec-button {
  color: #212528;
  background-color: #FAD725 !important;
  font-size: 17px !important;
  font-weight: 500 !important;
  border-radius: 1px;
}

.expert-txt {
  border: 2.288px solid #6F77F1;
  transform: rotate(-8.234deg);
  -webkit-transform: rotate(-8.234deg);
  display: inline-block;
}

.expert-dot {
  height: 12px;
  width: 12px;
  background-color: #6F77F1;
}

@media (min-width: 1024px) {
  .hero-main-heading {
    color: #212528;
    font-weight: 700;
    font-size: 55px;
    font-family: "Inter";
  }
  .expert-txt {
    color: #6F77F1;
    font-weight: 700;
    font-size: 55px;
    font-family: "Poppins";
  }
  .hero-sec-button {
    color: #212528;
    background-color: #FAD725 !important;
    font-size: 22px !important;
    font-weight: 500 !important;
    border-radius: 1px;
  }
  .hero-main-img {
    width: 500px;
    height: 600px;
  }
}
.creative-team-card {
  width: 220px;
  height: 100px;
  box-shadow: 5px 5px 20px rgb(208, 200, 200);
  left: 15%;
}

@media (min-width: 992px) {
  .creative-team-card {
    left: -90px;
    bottom: 75px;
  }
}
.team-member-img-container1 {
  left: 10px;
}

.team-member-img-container2 {
  left: 45px;
}

.team-member-img-container3 {
  left: 80px;
}

.team-member-img-container4 {
  left: 115px;
}

.team-member-img-container5 {
  left: 150px;
}

.management-headings {
  color: #212528;
  font-weight: 400;
  font-size: 24px;
  font-family: "Poppins";
}

.management-text {
  color: #828282;
  font-weight: 400;
  font-size: 14px;
  font-family: "Poppins";
}

@media (min-width: 1232px) {
  .management-headings {
    color: #212528;
    font-weight: 400;
    font-size: 34px;
    font-family: "Poppins";
  }
  .management-text {
    color: #828282;
    font-weight: 400;
    font-size: 17px;
    font-family: "Poppins";
  }
}
.optimising-heading {
  color: #212528;
  font-weight: 500;
  font-size: 35px;
  font-family: "Poppins";
}

.optimising-text {
  color: #828282;
  font-weight: 400;
  font-size: 13px;
  font-family: "Poppins";
}

.op-card-heading {
  color: #212528;
  font-weight: 500;
  font-size: 21px;
  font-family: "Poppins";
}

.op-card-text {
  color: #828282;
  font-weight: 400;
  font-size: 13px;
  font-family: "Poppins";
}

@media (min-width: 485px) {
  .optimising-heading {
    color: #212528;
    font-weight: 500;
    font-size: 50px;
    font-family: "Poppins";
  }
  .optimising-text {
    color: #828282;
    font-weight: 400;
    font-size: 17px;
    font-family: "Poppins";
  }
  .op-card-heading {
    color: #212528;
    font-weight: 500;
    font-size: 24px;
    font-family: "Poppins";
  }
  .op-card-text {
    color: #828282;
    font-weight: 400;
    font-size: 17px;
    font-family: "Poppins";
  }
}
.optimising-cards > div > div {
  transition: transform 0.6s ease-out;
}
.optimising-cards > div > div:hover {
  transform: scale(1.01);
  box-shadow: 5px 5px 20px rgb(203, 200, 200);
  border-bottom: 2px solid #6F77F1;
}

.bussiness-sec-button {
  color: #212528;
  background-color: #FAD725 !important;
  font-size: 18px !important;
  font-weight: 500 !important;
  border-radius: 1px;
}

.bussiness-heading {
  color: #212528;
  font-weight: 500;
  font-size: 35px;
  font-family: "Poppins";
}

.bussiness-text {
  color: #828282;
  font-weight: 400;
  font-size: 13px;
  font-family: "Poppins";
}

@media (min-width: 485px) {
  .bussiness-heading {
    color: #212528;
    font-weight: 500;
    font-size: 50px;
    font-family: "Poppins";
  }
  .bussiness-text {
    color: #828282;
    font-weight: 400;
    font-size: 17px;
    font-family: "Poppins";
  }
  .bussiness-sec-button {
    color: #212528;
    background-color: #FAD725 !important;
    font-size: 24px !important;
    font-weight: 500 !important;
    border-radius: 1px;
  }
}
.grow-buss-subheading {
  color: #212528;
  font-weight: 500;
  font-size: 22px;
  font-family: "Poppins";
}

.grow-buss-text {
  color: #828282;
  font-weight: 400;
  font-size: 17px;
  font-family: "Poppins";
}

.grow-buss-readmore {
  color: #6F77F1;
  font-weight: 500;
  font-size: 14px;
  font-family: "Poppins";
}

.grow-buss-cards > div {
  transition: transform 0.6s ease-out;
}
.grow-buss-cards > div:hover {
  transform: scale(1.01);
  box-shadow: 5px 5px 20px rgb(203, 200, 200);
}

.chooser-button {
  color: #212528;
  background-color: #FAD725 !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  border-radius: 2px;
}

.chooser-heading {
  color: #212528;
  font-weight: 500;
  font-size: 50px;
  font-family: "Poppins";
}

.chooser-text {
  color: #828282;
  font-weight: 400;
  font-size: 17px;
  font-family: "Poppins";
}

.chooser-card-heading {
  color: #212528;
  font-weight: 500;
  font-size: 20px;
  font-family: "Poppins";
}

.chooser-card-text {
  color: #828282;
  font-weight: 400;
  font-size: 17px;
  font-family: "Poppins";
}

.chooser-cards > div {
  box-shadow: 2px 2px 10px rgb(229, 226, 226);
  transition: transform 0.6s ease-out;
}
.chooser-cards > div:hover {
  transform: scale(1.01);
  box-shadow: 5px 5px 20px rgb(203, 200, 200);
}

.need-it-heading {
  color: #212528;
  font-weight: 500;
  font-size: 35px;
  font-family: "Poppins";
}

.need-it-text {
  color: #828282;
  font-weight: 400;
  font-size: 13px;
  font-family: "Poppins";
}

.need-card-heading {
  color: #212528;
  font-weight: 500;
  font-size: 17px;
  font-family: "Poppins";
}

@media (min-width: 485px) {
  .need-it-heading {
    color: #212528;
    font-weight: 500;
    font-size: 50px;
    font-family: "Poppins";
  }
  .need-it-text {
    color: #828282;
    font-weight: 400;
    font-size: 17px;
    font-family: "Poppins";
  }
  .need-card-heading {
    color: #212528;
    font-weight: 500;
    font-size: 23px;
    font-family: "Poppins";
  }
}
.need-it-cards > div {
  transition: transform 0.6s ease-out;
}

.need-it-cards > div:hover {
  transform: scale(1.01);
  box-shadow: 3px 3px 10px rgb(203, 200, 200);
}

.stats-section .stats-dot span {
  display: inline-block;
  background-color: #D1563B;
  height: 8px;
  width: 8px;
  border-radius: 100%;
}
.stats-section .stats-dot2 span {
  background-color: #3BD165;
}
.stats-section .stats-dot3 span {
  background-color: #F7C745;
}
.stats-section .stats-values {
  color: #666565;
  font-weight: 600;
  font-size: 73px;
  font-family: "Poppins";
}
.stats-section .stats-text {
  color: #6F6F6F;
  font-weight: 500;
  font-size: 17px;
  font-family: "Poppins";
}

@media (min-width: 992px) {
  .stats-section > div {
    width: 75%;
  }
}
.website-heading {
  color: #212528;
  font-weight: 500;
  font-size: 35px;
  font-family: "Poppins";
}

.website-text {
  color: #828282;
  font-weight: 400;
  font-size: 13px;
  font-family: "Poppins";
}

.speed-submit-button {
  color: #212528;
  background-color: #FAD725 !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  border-radius: 2px;
}

@media (min-width: 485px) {
  .website-heading {
    color: #212528;
    font-weight: 500;
    font-size: 50px;
    font-family: "Poppins";
  }
  .website-text {
    color: #828282;
    font-weight: 400;
    font-size: 17px;
    font-family: "Poppins";
  }
}
.our-plan-heading {
  color: #212528;
  font-weight: 500;
  font-size: 35px;
  font-family: "Poppins";
}

.our-plan-text {
  color: #828282;
  font-weight: 400;
  font-size: 13px;
  font-family: "Poppins";
}

.card-price {
  color: #212528;
  font-weight: 500;
  font-size: 49px;
  font-family: "Poppins";
}

.plan-card-heading {
  color: #6F77F1;
  font-weight: 500;
  font-size: 22px;
  font-family: "Poppins";
}

@media (min-width: 485px) {
  .our-plan-heading {
    color: #212528;
    font-weight: 500;
    font-size: 50px;
    font-family: "Poppins";
  }
  .our-plan-text {
    color: #828282;
    font-weight: 400;
    font-size: 17px;
    font-family: "Poppins";
  }
}
.plans-cards > div {
  transition: transform 0.6s ease-out;
}
.plans-cards > div .plans-buttons {
  border: 1px solid black;
}
.plans-cards > div .plans-buttons:hover {
  background-color: #FAD725;
  border: 1px solid black;
}
.plans-cards > div:hover {
  transform: scale(1.02);
  box-shadow: 3px 3px 10px rgb(203, 200, 200);
  background-color: #6F77F1 !important;
}
.plans-cards > div:hover h4, .plans-cards > div:hover h6, .plans-cards > div:hover p, .plans-cards > div:hover .card-price {
  color: white;
}

.expert-heading {
  color: #212528;
  font-weight: 500;
  font-size: 35px;
  font-family: "Poppins";
}

.expert-text {
  color: #828282;
  font-weight: 400;
  font-size: 12px;
  font-family: "Poppins";
}

.expert-name {
  color: #212528;
  font-weight: 500;
  font-size: 22px;
  font-family: "Poppins";
}

.expert-post {
  color: #828282;
  font-weight: 400;
  font-size: 15px;
  font-family: "Poppins";
}

@media (min-width: 485px) {
  .expert-heading {
    color: #212528;
    font-weight: 500;
    font-size: 55px;
    font-family: "Poppins";
  }
  .expert-text {
    color: #828282;
    font-weight: 400;
    font-size: 17px;
    font-family: "Poppins";
  }
}
.expert-team-cards > div {
  border: 1px solid rgb(233, 228, 228);
  transition: transform 0.6s ease-out;
}
.expert-team-cards > div:hover {
  transform: scale(1.02);
  border: none;
  box-shadow: 3px 3px 20px rgb(203, 200, 200);
}

.client-heading {
  color: #212528;
  font-weight: 500;
  font-size: 35px;
  font-family: "Poppins";
}

.client-text {
  color: #828282;
  font-weight: 400;
  font-size: 12px;
  font-family: "Poppins";
}

.client-card-text {
  color: #828282;
  font-weight: 400;
  font-size: 12px;
  font-family: "Poppins";
}

@media (min-width: 485px) {
  .client-heading {
    color: #212528;
    font-weight: 500;
    font-size: 55px;
    font-family: "Poppins";
  }
  .client-text {
    color: #828282;
    font-weight: 400;
    font-size: 17px;
    font-family: "Poppins";
  }
  .client-card-text {
    color: #828282;
    font-weight: 400;
    font-size: 17px;
    font-family: "Poppins";
  }
}
.clients-cards::-webkit-scrollbar {
  display: none;
}

.clients-cards > div {
  width: 300px;
  transition: transform 0.6s ease-out;
}
.clients-cards > div:hover {
  transform: scale(1.02);
  border: none;
  box-shadow: 3px 3px 20px rgb(203, 200, 200);
}

@media (min-width: 700px) {
  .clients-cards > div {
    width: 600px;
  }
}
.our-clients-scroll-dots > span {
  cursor: pointer;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: grey;
}

.our-clients-scroll-dots .scroll-second {
  background-color: #6F77F1;
  height: 18px;
  width: 18px;
}

.subscribe-heading {
  color: #212528;
  font-weight: 500;
  font-size: 35px;
  font-family: "Poppins";
}

.subscribe-text {
  color: #828282;
  font-weight: 400;
  font-size: 12px;
  font-family: "Poppins";
}

.subscribe-button {
  color: #212528;
  background-color: #6F77F1 !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  border-radius: 2px;
}

@media (min-width: 485px) {
  .subscribe-heading {
    color: #212528;
    font-weight: 500;
    font-size: 50px;
    font-family: "Poppins";
  }
  .subscribe-text {
    color: #828282;
    font-weight: 400;
    font-size: 20px;
    font-family: "Poppins";
  }
}
.speed-subscribe-input {
  width: 90%;
  outline: none;
}

@media (min-width: 1200px) {
  .speed-subscribe-input {
    width: 80%;
  }
}
.footer-copyright {
  color: #828282;
  font-weight: 400;
  font-size: 13px;
  font-family: "Poppins";
}

.footer-options {
  color: #212528;
  font-weight: 400;
  font-size: 20px;
  font-family: "Poppins";
}

.footer-last-text p {
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */