@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$button-color: #FAD725;
$expert-purple-color: #6F77F1;
$hero-section-heading-font: normal 700 90px 'Inter';
$hero-section-content-font: normal 400 20px/30px 'Poppins';
$hero-section-content-color: #727272;
$sections-heading-color: #212528;
$sections-content-color: #828282;
$sections-heading-font: normal 500 55px/65px 'Poppins';
$sections-content-font: normal 400 17px/27px 'Poppins';
$font-family-used: 'Poppins';
@mixin assign-color-mixin($name, $color, $font-weight, $font-size, $font-family){
    .#{$name}{
        color: $color;
        font-weight: $font-weight;
        font-size: $font-size;
        font-family: $font-family;
    }
}
@mixin button-style-mixin($name, $color, $bg-color, $font-size, $font-weight, $border-radius){
    .#{$name} {
        color: $color;
        background-color: $bg-color !important;
        font-size: $font-size !important;
        font-weight: $font-weight !important;
        border-radius: $border-radius;
    }
}
.purple-txt-each-section {
    color: $expert-purple-color !important;
}
// NAVBAR STYLE
@include assign-color-mixin("navbar-brand-style", $sections-heading-color, 500, 40px, $font-family-used);
.dot-with-logo{
    background-color: #BC424E;
    height: 8px;
    width: 8px;
    border-radius: 50%;
}
@include assign-color-mixin("nav-link", $sections-heading-color, 400, 24px, $font-family-used);
.let-us-talk-btn {
    border: 2px solid $sections-heading-color;
    font: 500 24px 'Poppins';
}
@include button-style-mixin("search-btn", $sections-heading-color, $button-color, 24px, 500, 1px);

//HERO SECTION
@include assign-color-mixin("hero-main-heading", $sections-heading-color, 600, 40px, 'Inter');
@include assign-color-mixin("hero-text", $hero-section-content-color, 400, 17px, $font-family-used);
@include assign-color-mixin("expert-txt", $expert-purple-color, 600, 40px, $font-family-used);
@include button-style-mixin("hero-sec-button", $sections-heading-color, $button-color, 16px, 500, 1px);
.hero-main-img{
    width: 300px;
    height: 400px;
}
.expert-txt {
    border: 2.288px solid $expert-purple-color;
    transform: rotate(-8.234deg);
    -webkit-transform: rotate(-8.234deg);
    display: inline-block;
}
@media (min-width:650px) {
    @include assign-color-mixin("hero-main-heading", $sections-heading-color, 600, 55px, 'Inter');
    @include button-style-mixin("hero-sec-button", $sections-heading-color, $button-color, 24px, 500, 1px);
    .hero-main-img{
        width: 350px;
        height: 500px;
    }
}
@media (min-width:1024px){
    @include assign-color-mixin("hero-main-heading", $sections-heading-color, 700, 90px, 'Inter');
    .hero-main-img{
        width: 500px;
        height: 600px;
    }
}

//MANAGEMENT SECTION
@include assign-color-mixin("management-headings", $sections-heading-color, 400, 24px, $font-family-used);
@include assign-color-mixin("management-text", $sections-content-color, 400, 14px, $font-family-used);
@media (min-width: 1232px) {
    @include assign-color-mixin("management-headings", $sections-heading-color, 400, 34px, $font-family-used);
    @include assign-color-mixin("management-text", $sections-content-color, 400, 17px, $font-family-used);
}

//OPTIMISING WEBSITE SECTION
@include assign-color-mixin("optimising-heading", $sections-heading-color, 500, 35px, $font-family-used);
@include assign-color-mixin("optimising-text", $sections-content-color, 400, 13px, $font-family-used);
@include assign-color-mixin("op-card-heading", $sections-heading-color, 500, 21px, $font-family-used);
@include assign-color-mixin("op-card-text", $sections-content-color, 400, 12px, $font-family-used);
@media (min-width: 485px){
    @include assign-color-mixin("optimising-heading", $sections-heading-color, 500, 55px, $font-family-used);
    @include assign-color-mixin("optimising-text", $sections-content-color, 400, 20px, $font-family-used);
    @include assign-color-mixin("op-card-heading", $sections-heading-color, 500, 24px, $font-family-used);
    @include assign-color-mixin("op-card-text", $sections-content-color, 400, 17px, $font-family-used);
}
.optimising-cards> div >div{
    transition: transform 0.6s ease-out;
}
.optimising-cards>div>div:hover {
    transform: scale(1.01);
    box-shadow: 5px 5px 20px rgb(203, 200, 200);
    border-bottom: 2px solid $expert-purple-color; 
}

//SOLUTION FOR BUSSINESS SECTION BEGIN
@include button-style-mixin("bussiness-sec-button", $sections-heading-color, $button-color, 18px, 500, 1px);
@include assign-color-mixin("bussiness-heading", $sections-heading-color, 500, 35px, $font-family-used);
@include assign-color-mixin("bussiness-text", $sections-content-color, 400, 12px, $font-family-used);
@media (min-width: 485px) {
    @include assign-color-mixin("bussiness-heading", $sections-heading-color, 500, 55px, $font-family-used);
    @include assign-color-mixin("bussiness-text", $sections-content-color, 400, 17px, $font-family-used);
    @include button-style-mixin("bussiness-sec-button", $sections-heading-color, $button-color, 24px, 500, 1px);
}

// GROW YOUR BUSSINESS SECTION
@include assign-color-mixin("grow-buss-subheading", $sections-heading-color, 500, 22px, $font-family-used);
@include assign-color-mixin("grow-buss-text", $sections-heading-color, 400, 17px, $font-family-used);
@include assign-color-mixin("grow-buss-readmore", $expert-purple-color, 500, 14px, $font-family-used);
.grow-buss-cards>div{
    transition: transform 0.6s ease-out;
}
.grow-buss-cards>div:hover{
    transform: scale(1.01);
    box-shadow: 5px 5px 20px rgb(203, 200, 200);
}
// CHOOSER SECTION
@include button-style-mixin("chooser-button", $sections-heading-color, $button-color, 14px, 500, 2px);
@include assign-color-mixin("chooser-heading", $sections-heading-color, 500, 55px, $font-family-used);
@include assign-color-mixin("chooser-text", $sections-content-color, 400, 17px, $font-family-used);
@include assign-color-mixin("chooser-card-heading", $sections-heading-color, 500, 20px, $font-family-used);
@include assign-color-mixin("chooser-card-text", $sections-content-color, 400, 17px, $font-family-used);
.chooser-cards>div{
    box-shadow: 2px 2px 10px rgb(229, 226, 226);
    transition: transform 0.6s ease-out;
}
.chooser-cards>div:hover{
    transform: scale(1.01);
    box-shadow: 5px 5px 20px rgb(203, 200, 200);
}

//NEED IT SECTION
@include assign-color-mixin("need-it-heading", $sections-heading-color, 450, 35px, $font-family-used);
@include assign-color-mixin("need-it-text", $sections-content-color, 400, 12px, $font-family-used);
@include assign-color-mixin("need-card-heading", $sections-heading-color, 500, 17px, $font-family-used);
@media (min-width: 485px) {
    @include assign-color-mixin("need-it-heading", $sections-heading-color, 500, 52px, $font-family-used);
    @include assign-color-mixin("need-it-text", $sections-content-color, 400, 17px, $font-family-used);
    @include assign-color-mixin("need-card-heading", $sections-heading-color, 500, 23px, $font-family-used);
}
.need-it-cards>div{
    transition: transform 0.6s ease-out;
}
.need-it-cards>div:hover{
    transform: scale(1.01);
    box-shadow: 3px 3px 10px rgb(203, 200, 200);
}
// STATS SECTION
.stats-section{
    .stats-dot span{
        display: inline-block;
        background-color: #D1563B;
        height: 8px;
        width: 8px;
        border-radius: 100%;
    }
    .stats-dot2 span{
        background-color: #3BD165;
    }
    .stats-dot3 span{
        background-color: #F7C745;
    }
    @include assign-color-mixin("stats-values", #666565, 600, 73px, $font-family-used);
    @include assign-color-mixin("stats-text", #6F6F6F, 500, 17px, $font-family-used);
}
@media (min-width: 992px){
    .stats-section >div {
        width: 75%;
    }
}

// WEBSITE SPEED SECTION
@include assign-color-mixin("website-heading", $sections-heading-color, 500, 35px, $font-family-used);
@include assign-color-mixin("website-text", $sections-content-color, 400, 12px, $font-family-used);
@include button-style-mixin("speed-submit-button", $sections-heading-color, $button-color, 16px, 500, 2px);
@media (min-width: 485px){
    @include assign-color-mixin("website-heading", $sections-heading-color, 500, 55px, $font-family-used);
    @include assign-color-mixin("website-text", $sections-content-color, 400, 17px, $font-family-used);
}


// OUR PLANS SECTION
@include assign-color-mixin("our-plan-heading", $sections-heading-color, 500, 35px, $font-family-used);
@include assign-color-mixin("our-plan-text", $sections-content-color, 400, 12px, $font-family-used);
@include assign-color-mixin("card-price", $sections-heading-color, 500, 49px, $font-family-used);
@include assign-color-mixin("plan-card-heading", $expert-purple-color, 500, 22px, $font-family-used);
@media (min-width: 485px){
    @include assign-color-mixin("our-plan-heading", $sections-heading-color, 500, 55px, $font-family-used);
    @include assign-color-mixin("our-plan-text", $sections-content-color, 400, 17px, $font-family-used);
}
.plans-cards>div{
    transition: transform 0.6s ease-out;
    .plans-buttons{
        border: 1px solid black;
    }
}
.plans-cards>div:hover{
    transform: scale(1.02);
    box-shadow: 3px 3px 10px rgb(203, 200, 200);
    background-color: $expert-purple-color !important;
    h4, h6, p, .card-price{
        color: white;
    }
    .plans-buttons{
        background-color: $button-color;
        border: 1px solid black;
    }
}

// EXPERT TEAM MEMBERS SECTION
@include assign-color-mixin("expert-heading", $sections-heading-color, 500, 35px, $font-family-used);
@include assign-color-mixin("expert-text", $sections-content-color, 400, 12px, $font-family-used);
@include assign-color-mixin("expert-name", $sections-heading-color, 500, 22px, $font-family-used);
@include assign-color-mixin("expert-post", $sections-content-color, 400, 15px, $font-family-used);
@media (min-width: 485px){
    @include assign-color-mixin("expert-heading", $sections-heading-color, 500, 55px, $font-family-used);
    @include assign-color-mixin("expert-text", $sections-content-color, 400, 17px, $font-family-used);
}
.expert-team-cards>div{
    border: 1px solid rgb(233, 228, 228);
    transition: transform 0.6s ease-out;
}
.expert-team-cards>div:hover {
    transform: scale(1.02);
    border: none;
    box-shadow: 3px 3px 20px rgb(203, 200, 200);
}

// OUR CLIENTS SECTION
@include assign-color-mixin("client-heading", $sections-heading-color, 500, 35px, $font-family-used);
@include assign-color-mixin("client-text", $sections-content-color, 400, 12px, $font-family-used);
@include assign-color-mixin("client-card-text", $sections-content-color, 400, 12px, $font-family-used);
@media (min-width: 485px){
    @include assign-color-mixin("client-heading", $sections-heading-color, 500, 55px, $font-family-used);
    @include assign-color-mixin("client-text", $sections-content-color, 400, 17px, $font-family-used);
    @include assign-color-mixin("client-card-text", $sections-content-color, 400, 17px, $font-family-used);
}
.clients-cards>div{
    border: 1px solid rgb(233, 228, 228);
    transition: transform 0.6s ease-out;
}
.clients-cards>div:hover {
    transform: scale(1.02);
    border: none;
    box-shadow: 3px 3px 20px rgb(203, 200, 200);
}

// SUBSCRIBE SECTION
@include assign-color-mixin("subscribe-heading", $sections-heading-color, 500, 35px, $font-family-used);
@include assign-color-mixin("subscribe-text", $sections-content-color, 400, 12px, $font-family-used);
@include button-style-mixin("subscribe-button", $sections-heading-color, $expert-purple-color, 16px, 500, 2px);
@media (min-width: 485px){
    @include assign-color-mixin("subscribe-heading", $sections-heading-color, 500, 50px, $font-family-used);
    @include assign-color-mixin("subscribe-text", $sections-content-color, 400, 20px, $font-family-used);
}

// FOOTER SECTION
@include assign-color-mixin("footer-copyright", $sections-content-color, 400, 13px, $font-family-used);
@include assign-color-mixin("footer-options", $sections-heading-color, 400, 20px, $font-family-used);